# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# Environment variables & secrets
.env

# IDE / Editor files
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/